
<div class="container">
  <h1>Employee Management</h1>

  <form (submit)="addEmployee()">
    <div>
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="currentEmployee.name" required name="name" />
    </div>
    <div>
      <label for="position">Position:</label>
      <input id="position" [(ngModel)]="currentEmployee.position" required name="position" />
    </div>
    <div>
      <label for="department">Department:</label>
      <input id="department" [(ngModel)]="currentEmployee.department" required name="department" />
    </div>
    <button type="submit">{{ isEditing ? 'Update' : 'Add' }}</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.department }}</td>
        <td >
          <button type="button" class="b1" (click)="editEmployee(employee)">Edit</button>
          <button type="button" class="b1" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
